<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${equipment}">
    <h2 th:case="null">No equipment yet!</h2>
    <div th:case="*">
        <h2>Equipment</h2>
        <table>
            <thead>
            <tr>
                <th>Equipment</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equipment : ${equipment}">
                <td th:text="${equipment.name}"></td>
                <td><a th:href="@{/editEquipment/{id}(id=${equipment.id})}">Edit</a></td>
                <td><a th:href="@{/deleteEquipment/{id}(id=${equipment.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/add-equipment">Add new equipment</a></p>
</div>


</body>
</html>